<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Songs Database - Landing Page</title>
  <link rel="shortcut icon" href="./logo_crp.png" type="image/x-icon">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Lato&family=Merriweather+Sans&display=swap"
    rel="stylesheet">

  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="artists.css" />
  <link rel="stylesheet" type="text/css" href="header.css" />
</head>

<body>
  <!-- Background Image div -->
  <div class="background-image"></div>

  <!-- Sticky header -->
  <header class="outer-header" style="padding-top: 120px;">
    <div class="inner-header">
      <img src="./logo.png" alt="Logo" class="logo">
      <nav>
        <ul class="navigation-options">
          <li><a href="index.html" class="nav-tab">Home</a></li>
          <li><a href="artists.html" class="nav-tab">Artists</a></li>
          <li><a href="albums.html" class="nav-tab">Albums</a></li>
          <li><a href="songs.html" class="nav-tab">Songs</a></li>
          <li><a href="about.html" class="nav-tab">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="heading-div" >
    <h1 class="heading">Artist Name</h1>
    <h2 class="heading-2">5 Albums</h2>
  </div>
  <img src="./media/artists/arijit-singh.jpg" alt="Arijit-Singh" style="width: 450px; border-radius: 50%; position: absolute; right: 50px; top: 70px; z-index: 1000;">
  
  
  <div class="artists">
    <!-- Top 3 artists row -->
    <div class="rows">
        {% for artist_seq in artists_list %}
      <div class="row">
        <div class="row-content">
          <ul style="column-gap: 5em;">
            {% for artist in artist_seq %}
            <li class="artist-box">
              <div>
              <a class="artist-img-link" href="{{artist.html_path}}.html">
                <img src="{{artist.img_path}}.jpeg" alt="" class="artist-img" />
                <div class="image-text">
                  {{artist.name}} <br>
                  {{artist.num_albums}} <br>
                </div>
              </a>
            </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <a href="#">
      <img src="./media/logos/Linkedin.png" alt="" style="height: 45px; padding-right: 22px;">
    </a>
    <a href="#">
      <img src="./media/logos/instagram.png" alt="" style="height: 43px; padding-right: 6px;">
    </a>
    <a href="#">
      <img src="./media/logos/Facebook.png" alt="" style="height: 45px;">
    </a>
    <a href="#">
      <img src="./media/logos/Reddit.png" alt="" style="height: 45px; padding-left: 7px;">
    </a>
    <a href="#">
      <img src="./media/logos/Twitter.png" alt="" style="height: 45px; padding-left: 20px;">
    </a>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; padding-top: 10px;">
      &copy; 2023 | Team: ISS Lite | <a href="about.html" style="color: grey;">about</a>
    </p>
    <img src="./logo.png" alt="" style="height: 40px;">
  </footer>
</body>

</html>