* {
    margin: 0;
    padding: 0;
    color: white;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./bgimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}
  

body {
    overflow-x: auto;
    background-color: #1b2442;
}

.heading {
    margin-left: 30px;
    margin-bottom: 50px;
    padding-left: 30px;
    font-family: 'Gt super text book', Georgia, sans-serif;
    font-size: 12em;
    writing-mode: vertical-rl;
    transform: scale(-1);
}

h3 {
    font-family: 'Gt super text book', Georgia, sans-serif;
    margin-top: 30px;
}

.made-by {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.creators {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.profile > img {
    height: 250px;
}

.quotes {
    font-family: 'Petit Formal Script', cursive;
}

table {
    display: none;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    margin: 0;
}

img:hover {
    transform: scale(1);
}

.content {
    font-size: 2em;
}

.about {
    display: flex;
}

.email {
    color: grey;
    font-size: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container p {
  font-size: 5rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.outer-div {
    display: flex;
    flex-direction: column;
}