* {
    color: white;
}

.heading {
    margin-left: 100px;
    margin-bottom: 200px;
    padding-left: 30px;
    padding-bottom: 100px;
    font-family: 'Gt super text book', Georgia, sans-serif;
    font-size: 12em;
    writing-mode: vertical-rl;
    transform: scale(-1);
}

h3 {
    font-family: 'Gt super text book', Georgia, sans-serif;
    margin-top: 30px;
}

.made-by {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.creators {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.profile > img {
    height: 250px;
}

.quotes {
    font-family: 'Petit Formal Script', cursive;
}

table {
    display: none;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    margin: 0;
}

img:hover {
    transform: scale(1);
}

.content {
    /* padding: 0 40px; */
    font-size: 2em;
}

.about {
    display: flex;
}

