/* Set margin and padding to 0 for the entire page */
* {
    margin: 0;
    padding: 0;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./media/background/bgimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
    z-index: -1;
  }
  

/* Set a background color for the page */
body {
    background-color: #f8f8f8;
    overflow-x: auto;
    background-color: #1b2442;
}

/* Sticky header styles */
.outer-header {
    font-size: 25px;
    color: #fff;
    padding: 0px;
    
    top: 0px;
    z-index: 999;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-header {
    display: flex;
    flex-direction: row;
    /* background-color: #242c54; */
    background-image: linear-gradient(to bottom, #44539a, #242c54);
    top: 20px;
    position: fixed;
    z-index: 999;
    border-radius: 8px;
}

.navigation-options {
    font-family: 'Roboto Condensed', sans-serif;
}

#home_tab {
    opacity: 0.5;
}

#home_tab:hover {
    opacity: 1;
}

#artists_tab {
    opacity: 0.5;
}

#artists_tab:hover {
    opacity: 1;
}

#albums_tab {
    opacity: 0.5;
}

#albums_tab:hover {
    opacity: 1;
}

#songs_tab {
    opacity: 0.5;
}

#songs_tab:hover {
    opacity: 1;
}

#genres_tab {
    opacity: 0.5;
}

#genres_tab:hover {
    opacity: 1;
}

header h1 {
	margin: 0 0 0 30px;
}

h2 {margin-right: 10%;text-align: center;}

nav {
    margin: 20px 40px 0 20px
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    /* width: 100%; */
}

td {
    border: solid white;
}

.artist {
    height: 123px;
}

/* Set the style for the rows */
/* .row {
    padding: 50px 0 0 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    color: white;
    width: 100%;
    font-size: 30px;
    transition: transform 0.2s ease-in-out;
} */

/* .row:hover {
    transform: scale(1.05);
}

.row:not(:hover) {
    filter: blur(2px);
} */
/* 
.row:nth-child(even) {
    opacity: 0.8;
    padding-top: 50px;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #3f4040;
    width: 100%;
    font-size: 30px;
} */

/* Set the style for the row headers */
/* .row-header {
    margin-bottom: 20px;
    text-align: right;
} */

/* Set the style for the row content */
/* .row-content {
    position: relative;
    justify-content: center;
    align-items: center;
} */
/* 
.row li {
    text-align: center;
} */

/* Set the style for the images */
/* img {
    height: 350px;
    margin-right: 40px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out;
} */

/* img:hover {
    transform: scale(1.1);
}

ul {
    display: flex;
    flex-direction: row;
} */

/* Set the style for the list items */
/* ul li {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    list-style: none;
} */

/* Set the style for the links */
/* a {
    text-decoration: none;
    color: black;
} */
/* text to be written over the pictures */
/* .image-text {
    background-color: black;
    font-family: 'Merriweather Sans', sans-serif;
    position: relative;
    left: 40%;
    transform: translate(-44.5%, -110%);
    padding: 10px;
    z-index: 1;
    color: white;
    width: fit-content;
    border-radius: 0px;
    font-weight: bold;
    opacity: 0.7;
    width: 330px;
} */